{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
  <h1>{% trans "Sign Up" %}</h1>
  <p>
    {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
  </p>
  <div class="box">
    <form class="signup"
          id="signup_form"
          method="post"
          action="{% url 'account_signup' %}">
      {{ form.as_p }}
      {% csrf_token %}
      {% if redirect_field_value %}
        <input type="hidden"
               name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="buttons">
        <button type="submit" class="primaryAction">{% trans "Sign Up" %}</button>
      </div>
    </form>
  </div>
{% endblock content %}
